/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  /*background-image: https://www.mashed.com/img/gallery/the-best-new-fast-food-menu-items-weve-tried-in-2023-so-far/l-intro-1682446897.jpg;*/
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.home, .menu, .order-customization, .cart, .about, .contact, .signup-login {
  padding: 20px;
}

h1, h2, h3 {
  color: #333;
}

.cta-button, .button {
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cart-items {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .menu-list, .cart-items {
    flex-direction: column;
  }
}
/* src/App.css */
.menu-item button, .cart-item button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item h4, .cart-item p {
  margin: 0;
}

.menu-item button:hover, .cart-item button:hover {
  background-color: #ff4500;
}
